/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)

CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Universal Styles */
@font-face {
    font-family: 'Raleway';
    src: 
        local('Raleway'),
        url('Resources/Raleway/Raleway-VariableFont_wght.ttf') format('TrueType'),
        url('Resources/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('TrueType');
}

header, body, footer {
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
}



/* Header */

.header {
    background-color: hsl(53, 33%, 68%);
    height: 15vh;
}

.navbar {
    display: flex;
    height: 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-right: 5em;
}

.nav-items li {
    display: flex;
    text-decoration: none;
}

.nav-items a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    color: hsl(278, 42%, 34%);
    text-shadow: 1px 3px hsl(236, 44%, 64%);
    padding: 1.5em;
}


/*Black in logo lettering is #373348*/

.logo {
    max-width: 100%;
    max-height: 100%;
    padding: 1em 1em 1em 5em;
}

/*Master grid container */

.container {
    display: grid;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "bio     bio"
        "pro-img pro"
        "pers    pers-img";
    gap: 5px;

}

/* Intro & Headshot */

.intro {
    grid-area: bio;
    background-color: hsl(236, 44%, 64%);
    width: 100%;
    display: flex;
    flex-flow: column;
}

.intro h1 {
    font-size: 3rem;
    font-weight: 750;
    text-align: center;
    color: hsl(251, 17%, 24%);
    text-shadow: 1px 3px hsl(0, 0%, 80%);
    padding: 1em 3em 1em 1.5em;
    order: 0;
}

.bio {
    display: flex;
}

.bio p {
    font-size: 1.25rem;
    padding: 0 25%;
    font-weight: 500;
}

.headshot {
    display: flex;
    order: 1;
    height: auto;
    margin-left: 10em;
    padding-bottom: 2%;
}

.headshot img{
    display: flex;
    object-fit: contain;
    grid-area: hshot;
    width: 30vw;
}

.text {
    background-color: chartreuse;
}

.image {

}