/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)

CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Universal Styles */
@font-face {
    font-family: 'Raleway';
    src: 
        local('Raleway'),
        url('Resources/Raleway/Raleway-VariableFont_wght.ttf') format('TrueType'),
        url('Resources/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('TrueType');
}

header, body, footer {
        font-family: 'Raleway', sans-serif;
        line-height: 1.75;
}

h1 {
    font-size: 2rem;
    font-weight: 750;
}

h2 {
    font-size: 1.75rem;
    font-weight: 650;
}

h3 {
    font-size: 1.5rem;
    font-weight: 550;
}

h4 {
    font-size: 1.25rem;
    font-weight: 450;
}

h5 {
    font-size: 1.15rem;
}

a {
    text-decoration: none;
}
/* Header */

.header {
    background-color: hsl(53, 33%, 68%);
    height: 12vh;
}

.navbar {
    display: flex;
    height: 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-right: 5em;
}

.nav-items li {
    display: flex;
    text-decoration: none;
}

.nav-items a {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700;
    color: hsl(251, 17%, 24%);
    padding: 1.5em;
}


/*Black in logo lettering is #373348*/

.logo {
    max-width: 100%;
    max-height: 100%;
    padding: 1em 1em 1em 5em;
}

/*Master grid container */

.container {
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "bio      bio"
        "pro      pro-img"
        "pers-img pers"
        "work     form";

    gap: 5px;
    grid-auto-flow: column;

}

/* Intro & Headshot */

.intro {
    grid-area: bio;
    background-color: hsl(236, 44%, 64%);
    width: 100%;
    display: flex;
    flex-flow: column;
}

.intro h1 {

    text-align: center;
    color: hsl(251, 17%, 24%);
    text-shadow: 1px 3px hsl(0, 0%, 80%);
    padding: 1em 3em 1em 1.5em;
    order: 0;
}

.bio {
    display: flex;
}

.bio p {
    padding: 0 25%;
    font-weight: 500;
    
}

.headshot {
    display: flex;
    order: 1;
    height: auto;
    margin-left: 10em;
    padding-bottom: 2%;
}

.headshot img{
    display: flex;
    object-fit: contain;
    width: 30vw;
}

/*"The Programmer" section */

.pro {
    display: flex;
    grid-area: pro;
    color: hsl(0, 0%, 80%);
    background-color: hsl(278, 42%, 34%);
    max-height: 100%;
    height: 40vh;
    max-width: 100%;
    padding: 1em 2em;
    /*Might add margin-left 25% & margin-right 25% @ pro-img */
}

.pro p {
    width: 80%;
}

.pro-img {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    grid-area: pro-img;
    background-color: hsl(278, 42%, 34%);
    max-height: 100%;
    height: 40vh;
    max-width: 100%;
    padding: 1em 2em;
}

.pro-img img{
    width: 20%;
    height: min-content;
}

/*"The Person" section*/

.pers-img {
    display: flex;
    justify-content: center;
    grid-area: pers-img;
    background-color: hsl(16, 97%, 45%);
    height: 40vh;
    max-width: 100%;
    
}

.pers-img img {
    max-width: 50%;
    object-fit: contain;
}

.pers {

    grid-area: pers;
    height: 40vh;
    max-width: 100%;

    background-color: hsl(16, 97%, 45%);
}

/*Projects Section*/
.work {
    width: 100%;
    height: 30vh;
}

/*Contact form*/
.form {

}

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    max-width: 100%;

}

span.address {
    display: flex;

}
.address {
    display: flex;
    width: 100%;
    justify-content: space-around;
}